---
layout: default
title: FAQ about subscriptions and licensing
---
<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <h3>Is there educational pricing?</h3>
            <p>
               GitLab's Educational pricing is that for educational institutions students do not count towards the user count.
                The purchase of at least one subscription is required.
            </p>

        <h3>How is GitLab EE licensed?</h3>
            <p>
                Every person with a GitLab account that is not blocked by the admin should be counted in the subscription.
            </p>
        <h3>Can I add more users to my subscription?</h3>

            <p>
                GitLab follows a True-Up model so you can grow now and pay later.
                You can add more users to the server than what you are licensed for at any time.
                For users that are added during the year you pay half price when you renew."
            </p>

        <h3>The true-up model seems complicated, can you illustrate?</h3>
            <p>
                If you have 100 active users today, you should purchase a 100 user subscription.
                Suppose that when you renew next year you have 300 active users (200 extra users).
                Next year, when you renew you pay for a 300 user subscription and you also pay half a year for the 200 users that you added during the year.
            </p>

        <h3>Do students have to pay or do they receive a discount?</h3>
            <p>
                GitLab’s Educational pricing is that for educational institutions, students do not count towards the user count.
                The purchase of at least one subscription is required.
            </p>

        <h3>Do non-profits have to pay for the Enterprise Edition?</h3>
            <p>
                Non-profits can use GitLab Community edition for free but need to purchase a subscription to the Enterprise Edition at our published rates.
            </p>

        <h3>Why does GitLab use licenses?</h3>
            <p>
                The code for Enterprise Edition is can be open to inspect for everyone.
                This makes it easier to offer a trial of Enterprise Edition.
            </p>

        <h3>Can anyone download GitLab EE?</h3>
            <p>
                Yes, but it will not be functional without a license key.
            </p>

        <h3>How does the license key affect customers?</h3>
            <p>
                Customers can now download and inspect the code for the latest GitLab EE version for free.
                However, they cannot use it without a valid subscription.
                They also cannot make any modification to the GitLab EE code.
            </p>

        <h3>How does the license key work?</h3>
            <p>
                The license key is a static file which, upon uploading, allows GitLab Enterprise Edition to run.
                During license upload we check that the active users on your GitLab Enterprise Edition instance doesn't exceed the new number of users.
                During the licensed period you may add as many users as you want.
                The license key will expire after one year for GitLab subscribers.
            </p>

        <h3>How do I upgrade GitLab EE to 7.11 or above?</h3>
            <p>
                After you upgrade GitLab to EE version 7.11 and higher, GitLab EE will stop working without a license key.
                If you don’t have a license key, please contact sales@gitlab.com and request a key.
                Once you deploy the key, then GitLab EE will start functioning again.
            </p>

        <h3>How do I know when my subscription is about to expire?</h3>
            <p>
                During the last 30 days of the subscription GitLab will display a renew countdown in the admin panel.
                During the next 14 days after the expiration date GitLab will display a renew countdown to all users.
            </p>

        <h3>Do I need an additional license if I run more than one server?</h3>
            <p>
                No, if your GitLab Enterprise Edition servers cover the same users, you can use the same license file for all of them.
            </p>

        <h3>What happens if I decide to not renew my subscription?</h3>
            <p>
                14 days after the end of your subscription, your key will no longer work and GitLab Enterprise Edition will not be functional anymore.
                You will be able to downgrade to GitLab Community Edition, which is free to use.
            </p>

         <h3>How does GitLab deal with bugfixes?</h3>
            <p>
              Bugs that are reported to us always have a high priority, no matter which subscription you have.
              In most instances they will be fixed in the next release or the release after that, which means the turnaround is one month or two. Severe bugs will be fixed earlier in a patch release.
            </p>

      </div>
    </div>
  </div>
</div>
